<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>{{ title }}</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 30px;
            font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 12px;
        }

        h1 {
            margin: 0 0 30px 0;
            font-size: 48px;
            font-weight: normal;
            line-height: 48px
        }

        .alert {
            background-color: #ffebec;
            border: 0 solid #e13238;
            border-left-width: 5px;
            border-radius: 0.4rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
            padding: 1rem 1rem;
            color: #4b1113;
        }

        .alert code{
            background-color: rgba(250,56,62,.15);
            border: 0.1rem solid rgba(0,0,0,.1);
            border-radius: 0.4rem;
            font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            font-size: 90%;
            padding: 0.1rem 0.2rem;
        }

        .alert .heading {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 1.25;
            margin-bottom: 0.3rem;
        }

        .alert .heading .icon {
            display: inline-block;
            margin-right: 0.4em;
            vertical-align: middle;
        }

        .alert .heading .icon svg {
            fill: #4b1113;
            display: inline-block;
            height: 1.6em;
            width: 1.6em;
        }

        .alert .content p {
            margin: 0 0 0;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
<h1>{{ title }}</h1>
<div class="alert alert--danger">
    <div class="heading">
            <span class="icon">
                <svg viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.893 1.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138 13.499a.98.98 0 0 0 0 1.001c.193.31.53.501.886.501h13.964c.367 0 .704-.19.877-.5a1.03 1.03 0 0 0 .01-1.002L8.893 1.5zm.133 11.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z"></path></svg>
           </span>
        Error
    </div>
    <div class="content">
        <p>{{ content | raw }}</p>
    </div>
</div>
</body>
</html>