<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% for card in cards %}
        <img src="{{ card }}" alt="card"/>
    {% endfor %}
</body>
</html>